
body{
    background-color: rgb(243, 243, 243);
}
a{
    color:black;
}
#titulo{
    text-align: center;
}
#titulo_descricao{
    text-align: left;
}
#titulo_resultado{
    text-align: left;
}
#area_botoes{
    text-align: center;
}
.tag{
    margin-left:5px;
}
.botaoAcessar{
    margin:20px;
}